/* src/styling/sidebar.css */
.sidebar {
    padding: 10px;
    width: 18%;
    color: #ffffff;
    height: 100vh;
    overflow-y: auto;
  }
  
  .sidebar-section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #262D34;
    border-radius: 10%;
    text-align: left;
  }
  
  .sidebar-section h2 {
    color: #ffffff;
  }
  
  .sidebar-section ul {
    list-style: none;
    padding: 5%;
  }
  
  .sidebar-section li {
    padding: 5px 0;
    cursor: pointer;
    text-align: left;
    padding: 5%;
  }

  .sidebar-section li i{
    margin-right: 10px;
    color: orange;
  }
  
  .sidebar-section li:hover {
    background-color: #2C353D;
    border-radius: 10%;
  }
  